# Setup

In [1]:
%%capture
%%bash
python ./generate_data.py
python ./run_ddl.py

Run Python code as shown below

In [2]:
a = 10

Run SQL code as shown below, with the `%%sql` called magics

In [3]:
%%sql
select 1

26/01/27 00:36:44 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+---+
| 1 |
+---+
| 1 |
+---+

We use the `prod.db` schema where all our tables are create by `run_ddl.py`

In [4]:
%%sql --show
use prod.db

++
||
++
++

## Your code below

In [5]:
%%sql 
show catalogs;

+---------------+
|       catalog |
+---------------+
|          demo |
| spark_catalog |
+---------------+

In [6]:
%%sql
show schemas IN demo;

-- Catalog -> schema

+-----------+
| namespace |
+-----------+
|      prod |
+-----------+

In [7]:
%%sql
show schemas IN prod;

-- schema -> namespace

+-----------+
| namespace |
+-----------+
|   prod.db |
+-----------+

In [8]:
%%sql
show tables IN prod.db -- namespace -> Table

+-----------+-----------+-------------+
| namespace | tableName | isTemporary |
+-----------+-----------+-------------+
|   prod.db |  customer |       False |
|   prod.db |  lineitem |       False |
|   prod.db |    nation |       False |
|   prod.db |    orders |       False |
|   prod.db |      part |       False |
|   prod.db |  partsupp |       False |
|   prod.db |    region |       False |
|   prod.db |  supplier |       False |
+-----------+-----------+-------------+

In [9]:
%%sql --show
select * from prod.db.customer limit 2

+-----------+--------------------+--------------------------------+-------------+-----------------+-----------+--------------+-----------------------------------------------------------------+
| c_custkey |             c_name |                      c_address | c_nationkey |         c_phone | c_acctbal | c_mktsegment |                                                       c_comment |
+-----------+--------------------+--------------------------------+-------------+-----------------+-----------+--------------+-----------------------------------------------------------------+
|         1 | Customer#000000001 |              j5JsirBM9PsCy0O1m |          15 | 25-989-741-2988 |    711.56 |     BUILDING |  y final requests wake slyly quickly special accounts. blithely |
|         2 | Customer#000000002 | 487LW1dovn6Q4dMVymKwwLE9OKf3QG |          13 | 23-768-687-3665 |    121.65 |   AUTOMOBILE | y carefully regular foxes. slyly regular requests about the bli |
+-----------+--------------------+--------------------------------+-------------+-----------------+-----------+--------------+-----------------------------------------------------------------+

In [10]:
%%sql
DESCRIBE lineitem

+-----------------+---------------+---------+
|        col_name |     data_type | comment |
+-----------------+---------------+---------+
|      l_orderkey |        bigint |    None |
|       l_partkey |        bigint |    None |
|       l_suppkey |        bigint |    None |
|    l_linenumber |           int |    None |
|      l_quantity | decimal(15,2) |    None |
| l_extendedprice | decimal(15,2) |    None |
|      l_discount | decimal(15,2) |    None |
|           l_tax | decimal(15,2) |    None |
|    l_returnflag |        string |    None |
|    l_linestatus |        string |    None |
|      l_shipdate |          date |    None |
|    l_commitdate |          date |    None |
|   l_receiptdate |          date |    None |
|  l_shipinstruct |        string |    None |
|      l_shipmode |        string |    None |
|       l_comment |        string |    None |
+-----------------+---------------+---------+

In [11]:
%%sql
DESCRIBE extended lineitem

+------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+
|                     col_name |                                                                                                              data_type | comment |
+------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+
|                   l_orderkey |                                                                                                                 bigint |    None |
|                    l_partkey |                                                                                                                 bigint |    None |
|                    l_suppkey |                                                                                                                 bigint |    None |
|                 l_linenumber |                                                                                                                    int |    None |
|                   l_quantity |                                                                                                          decimal(15,2) |    None |
|              l_extendedprice |                                                                                                          decimal(15,2) |    None |
|                   l_discount |                                                                                                          decimal(15,2) |    None |
|                        l_tax |                                                                                                          decimal(15,2) |    None |
|                 l_returnflag |                                                                                                                 string |    None |
|                 l_linestatus |                                                                                                                 string |    None |
|                   l_shipdate |                                                                                                                   date |    None |
|                 l_commitdate |                                                                                                                   date |    None |
|                l_receiptdate |                                                                                                                   date |    None |
|               l_shipinstruct |                                                                                                                 string |    None |
|                   l_shipmode |                                                                                                                 string |    None |
|                    l_comment |                                                                                                                 string |    None |
|                              |                                                                                                                        |         |
|           # Metadata Columns |                                                                                                                        |         |
|                     _spec_id |                                                                                                                    int |         |
|                   _partition |                                                                                                               struct<> |         |
|                        _file |                                                                                                                 string |         |
|                         _pos |                                                                                                                 bigint |         |
|                     _deleted |                                                                                                                boolean |         |
|                              |                                                                                                                        |         |
| # Detailed Table Information |                                                                                                                        |         |
|                         Name |                                                                                                  demo.prod.db.lineitem |         |
|                         Type |                                                                                                                MANAGED |         |
|                     Location |                                                                                        s3://warehouse/prod/db/lineitem |         |
|                     Provider |                                                                                                                iceberg |         |
|                        Owner |                                                                                                                   root |         |
|             Table Properties | [current-snapshot-id=6115172292737728919,format=iceberg/parquet,format-version=2,write.parquet.compression-codec=zstd] |         |
+------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+

In [12]:
%%sql
-- use * to specify all columns
SELECT
  *
FROM
  orders
LIMIT
  4

+------------+-----------+---------------+--------------+-------------+-----------------+-----------------+----------------+---------------------------------------------------------------------------+
| o_orderkey | o_custkey | o_orderstatus | o_totalprice | o_orderdate | o_orderpriority |         o_clerk | o_shippriority |                                                                 o_comment |
+------------+-----------+---------------+--------------+-------------+-----------------+-----------------+----------------+---------------------------------------------------------------------------+
|          1 |      3691 |             O |    194029.55 |  1996-01-02 |           5-LOW | Clerk#000000951 |              0 |                                        ly express platelets. deposits acc |
|          2 |      7801 |             O |     60951.63 |  1996-12-01 |        1-URGENT | Clerk#000000880 |              0 |                  ve the furiously fluffy dependencies. carefully regular  |
|          3 |     12332 |             F |    247296.05 |  1993-10-14 |           5-LOW | Clerk#000000955 |              0 |  after the asymptotes. instructions cajole after the foxes. carefully unu |
|          4 |     13678 |             O |     53829.87 |  1995-10-11 |           5-LOW | Clerk#000000124 |              0 |    st the furiously bold pinto beans. furiously pending theodolites cajol |
+------------+-----------+---------------+--------------+-------------+-----------------+-----------------+----------------+---------------------------------------------------------------------------+

In [13]:
%%sql
-- use column names to only read data from those columns
SELECT
  o_orderkey,
  o_totalprice
FROM
  orders
LIMIT
  4

+------------+--------------+
| o_orderkey | o_totalprice |
+------------+--------------+
|          1 |    194029.55 |
|          2 |     60951.63 |
|          3 |    247296.05 |
|          4 |     53829.87 |
+------------+--------------+

In [14]:
%%sql
-- all customer rows that have c_nationkey = 20
SELECT
  *
FROM
  customer
WHERE
  c_nationkey = 20
LIMIT
  10;

+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+--------------------------------------------------------------------------------------------------------------------+
| c_custkey |             c_name |                                c_address | c_nationkey |         c_phone | c_acctbal | c_mktsegment |                                                                                                          c_comment |
+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+--------------------------------------------------------------------------------------------------------------------+
|         6 | Customer#000000006 |      g1s,pzDenUEBW3O,2 pxu0f9n2g64rJrt5E |          20 | 30-114-968-4951 |   7638.57 |   AUTOMOBILE |            quickly silent asymptotes are slyly regular excuses. instructions wake furiously? quickly bold courts p |
|        81 | Customer#000000081 |                       9jUFbrThIIeoUNd8 9 |          20 | 30-165-277-3269 |   2023.71 |     BUILDING |                                 s against the ironic packages haggle carefully above the slyly express pinto beans |
|       100 | Customer#000000100 |                           MBy6qq3OEGpV4u |          20 | 30-749-445-4907 |   9889.89 |    FURNITURE |                                     dazzle carefully furiously final foxes. express, ironic packages among the qui |
|       210 | Customer#000000210 |                   ,XOlfSzkZDAkm96adR41j, |          20 | 30-876-248-9750 |   7250.14 |    HOUSEHOLD |                                                                              es cajole bravely across the blithely |
|       223 | Customer#000000223 |                    MyQxUcG0P QCetmG00GlF |          20 | 30-193-643-1517 |   7476.20 |     BUILDING |           xcuses. silent theodolites across the carefully bold excuses sleep ironic, final courts. regular excuses |
|       228 | Customer#000000228 | rZ1wxvHNByT71bUJWZjXMDROzlAch6FVu,dj8Zfq |          20 | 30-435-915-1603 |   6868.12 |    FURNITURE |                                                                                      es. blithely permanent sentim |
|       247 | Customer#000000247 |                       eSAW4XaakYFj2WToKU |          20 | 30-151-905-3513 |   8495.92 |    HOUSEHOLD |                               tes nag according to the blithe, even packages. sometimes unusual packages integrate |
|       278 | Customer#000000278 |                         XHAfHlrYQM3elmhJ |          20 | 30-445-570-5841 |   7621.56 |     BUILDING | ely unusual accounts. stealthily special instructions affix blithely. regular, ironic packages sleep even platelet |
|       285 | Customer#000000285 |      rB6fTQKle64k3MvCCatad8DfMgR5OZA G4r |          20 | 30-235-130-1313 |   7276.72 |    FURNITURE |                slyly according to the blithely special instructions. ironic ideas against the blithely furious pac |
|       321 | Customer#000000321 |          LX0SKs3jqo9wH1yixIdGWp2ItclDiuL |          20 | 30-114-675-9153 |   7718.77 |    FURNITURE |                               ng the final, bold requests. furiously regular accounts inside the furiously pending |
+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+--------------------------------------------------------------------------------------------------------------------+

In [15]:
%%sql
-- all customer rows that have c_nationkey = 20 and c_acctbal > 1000
SELECT
  *
FROM
  customer
WHERE
  c_nationkey = 20
  AND c_acctbal > 1000
LIMIT
  10;

+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+--------------------------------------------------------------------------------------------------------------------+
| c_custkey |             c_name |                                c_address | c_nationkey |         c_phone | c_acctbal | c_mktsegment |                                                                                                          c_comment |
+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+--------------------------------------------------------------------------------------------------------------------+
|         6 | Customer#000000006 |      g1s,pzDenUEBW3O,2 pxu0f9n2g64rJrt5E |          20 | 30-114-968-4951 |   7638.57 |   AUTOMOBILE |            quickly silent asymptotes are slyly regular excuses. instructions wake furiously? quickly bold courts p |
|        81 | Customer#000000081 |                       9jUFbrThIIeoUNd8 9 |          20 | 30-165-277-3269 |   2023.71 |     BUILDING |                                 s against the ironic packages haggle carefully above the slyly express pinto beans |
|       100 | Customer#000000100 |                           MBy6qq3OEGpV4u |          20 | 30-749-445-4907 |   9889.89 |    FURNITURE |                                     dazzle carefully furiously final foxes. express, ironic packages among the qui |
|       210 | Customer#000000210 |                   ,XOlfSzkZDAkm96adR41j, |          20 | 30-876-248-9750 |   7250.14 |    HOUSEHOLD |                                                                              es cajole bravely across the blithely |
|       223 | Customer#000000223 |                    MyQxUcG0P QCetmG00GlF |          20 | 30-193-643-1517 |   7476.20 |     BUILDING |           xcuses. silent theodolites across the carefully bold excuses sleep ironic, final courts. regular excuses |
|       228 | Customer#000000228 | rZ1wxvHNByT71bUJWZjXMDROzlAch6FVu,dj8Zfq |          20 | 30-435-915-1603 |   6868.12 |    FURNITURE |                                                                                      es. blithely permanent sentim |
|       247 | Customer#000000247 |                       eSAW4XaakYFj2WToKU |          20 | 30-151-905-3513 |   8495.92 |    HOUSEHOLD |                               tes nag according to the blithe, even packages. sometimes unusual packages integrate |
|       278 | Customer#000000278 |                         XHAfHlrYQM3elmhJ |          20 | 30-445-570-5841 |   7621.56 |     BUILDING | ely unusual accounts. stealthily special instructions affix blithely. regular, ironic packages sleep even platelet |
|       285 | Customer#000000285 |      rB6fTQKle64k3MvCCatad8DfMgR5OZA G4r |          20 | 30-235-130-1313 |   7276.72 |    FURNITURE |                slyly according to the blithely special instructions. ironic ideas against the blithely furious pac |
|       321 | Customer#000000321 |          LX0SKs3jqo9wH1yixIdGWp2ItclDiuL |          20 | 30-114-675-9153 |   7718.77 |    FURNITURE |                               ng the final, bold requests. furiously regular accounts inside the furiously pending |
+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+--------------------------------------------------------------------------------------------------------------------+

In [16]:
%%sql
-- all customer rows that have c_nationkey = 20 or c_acctbal > 1000
SELECT
  *
FROM
  customer
WHERE
  c_nationkey = 20
  OR c_acctbal > 1000
LIMIT
  10;

+-----------+--------------------+---------------------------------------+-------------+-----------------+-----------+--------------+-------------------------------------------------------------------------------------------------------------------+
| c_custkey |             c_name |                             c_address | c_nationkey |         c_phone | c_acctbal | c_mktsegment |                                                                                                         c_comment |
+-----------+--------------------+---------------------------------------+-------------+-----------------+-----------+--------------+-------------------------------------------------------------------------------------------------------------------+
|         3 | Customer#000000003 |                          fkRGN8nY4pkE |           1 | 11-719-748-3364 |   7498.12 |   AUTOMOBILE |            fully. carefully silent instructions sleep alongside of the slyly regular asymptotes. quickly regular  |
|         4 | Customer#000000004 |                           4u58h fqkyE |           4 | 14-128-190-5944 |   2866.83 |    MACHINERY |                                                                  sublate. fluffily even instructions are about th |
|         6 | Customer#000000006 |   g1s,pzDenUEBW3O,2 pxu0f9n2g64rJrt5E |          20 | 30-114-968-4951 |   7638.57 |   AUTOMOBILE |           quickly silent asymptotes are slyly regular excuses. instructions wake furiously? quickly bold courts p |
|         7 | Customer#000000007 |        8OkMVLQ1dK6Mbu6WG9 w4pLGQ n7MQ |          18 | 28-190-982-9759 |   9561.95 |   AUTOMOBILE |                                    ounts. ironic, regular accounts sleep. final requests haggle quickly after the |
|         8 | Customer#000000008 | j,pZ,Qp,qtFEo0r0c 92qobZtlhSuOqbE4JGV |          17 | 27-147-574-9335 |   6819.74 |     BUILDING | riously final excuses sublate quickly among the fluffily even foxes. quickly final packages haggle furiously furi |
|         9 | Customer#000000009 |            vgIql8H6zoyuLMFNdAMLyE7 H9 |           8 | 18-338-906-3675 |   8324.07 |    FURNITURE |                     ss pinto beans believe slyly quiet deposits-- doggedly bold packages boost. quickly ironic de |
|        10 | Customer#000000010 |    Vf mQ6Ug9Ucf5OKGYq fsaX AtfsO7,rwY |           5 | 15-741-346-9870 |   2753.54 |    HOUSEHOLD |                                                                                   g quickly after the evenly bold |
|        12 | Customer#000000012 |                         Sb4gxKs7W1AZa |          13 | 23-791-276-1263 |   3396.49 |    HOUSEHOLD |             ickly regular dependencies boost blithely around the slyly ironic theodolites. furiously special dolp |
|        13 | Customer#000000013 |               Ez3ax0D5HnUbeUVSxoX8a8B |           3 | 13-761-547-5974 |   3857.34 |     BUILDING |                quickly brave foxes. blithely even packages against the pinto beans boost furiously against the re |
|        14 | Customer#000000014 |                       h3GFMzeFfYiamqr |           1 | 11-845-129-3851 |   5266.30 |    FURNITURE |                                                                                 r, express foxes cajole slyly aga |
+-----------+--------------------+---------------------------------------+-------------+-----------------+-----------+--------------+-------------------------------------------------------------------------------------------------------------------+

In [17]:
%%sql
-- all customer rows that have (c_nationkey = 20 and c_acctbal > 1000) or rows that have c_nationkey = 11
SELECT
  *
FROM
  customer
WHERE
  (
    c_nationkey = 20
    AND c_acctbal > 1000
  )
  OR c_nationkey = 11
LIMIT
  10;

+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+----------------------------------------------------------------------------------------------------------+
| c_custkey |             c_name |                                c_address | c_nationkey |         c_phone | c_acctbal | c_mktsegment |                                                                                                c_comment |
+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+----------------------------------------------------------------------------------------------------------+
|         6 | Customer#000000006 |      g1s,pzDenUEBW3O,2 pxu0f9n2g64rJrt5E |          20 | 30-114-968-4951 |   7638.57 |   AUTOMOBILE |  quickly silent asymptotes are slyly regular excuses. instructions wake furiously? quickly bold courts p |
|        52 | Customer#000000052 |              UracAlAA8tSHL5V,poTZIOjh8o, |          11 | 21-186-284-5998 |   5630.28 |    HOUSEHOLD |                                ts boost. carefully express waters across the blithely regular foxes inte |
|        81 | Customer#000000081 |                       9jUFbrThIIeoUNd8 9 |          20 | 30-165-277-3269 |   2023.71 |     BUILDING |                       s against the ironic packages haggle carefully above the slyly express pinto beans |
|        84 | Customer#000000084 |      GB3sUmv RRXV DPzeOSbGxMIF9Z4Eq9 rop |          11 | 21-546-818-3802 |   5174.71 |    FURNITURE |                   ounts. blithely express theodolites nag carefully ironic pinto beans. carefully final  |
|       100 | Customer#000000100 |                           MBy6qq3OEGpV4u |          20 | 30-749-445-4907 |   9889.89 |    FURNITURE |                           dazzle carefully furiously final foxes. express, ironic packages among the qui |
|       131 | Customer#000000131 |            ItdUFrHPZlzjZ, fo03sG4topAKTV |          11 | 21-840-210-3572 |   8595.53 |    HOUSEHOLD |                            ly final Tiresias. slyly permanent theodolites cajole quickly. carefully unus |
|       134 | Customer#000000134 |               6I1TTaoG7bbiogCqRcptG6BYme |          11 | 21-200-159-5932 |   4608.90 |     BUILDING |                                                                    ly regular dolphins haggle blithely.  |
|       148 | Customer#000000148 |                   qJ8bFn4kwiit7RzwGrwo5m |          11 | 21-562-498-6636 |   2135.60 |    HOUSEHOLD |  e carefully pending ideas detect slyly along the furiously special excuses. instructions use carefully  |
|       190 | Customer#000000190 | mY30kK8AfsTGrx,L4zI   QlQnnmCUxikyc8QcZ7 |          11 | 21-730-373-8193 |   1657.46 |   AUTOMOBILE |                                                               y even packages engage furiously pending p |
|       210 | Customer#000000210 |                   ,XOlfSzkZDAkm96adR41j, |          20 | 30-876-248-9750 |   7250.14 |    HOUSEHOLD |                                                                    es cajole bravely across the blithely |
+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+----------------------------------------------------------------------------------------------------------+

In [18]:
%%sql
-- all customer rows where the name has a 381 in it
SELECT
  *
FROM
  customer
WHERE
  c_name LIKE '%381%';

+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+---------------------------------------------------------------------------------------------------------------------+
| c_custkey |             c_name |                                c_address | c_nationkey |         c_phone | c_acctbal | c_mktsegment |                                                                                                           c_comment |
+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+---------------------------------------------------------------------------------------------------------------------+
|       381 | Customer#000000381 |                         wXs5zN2nPHqPsfFO |           5 | 15-860-208-7093 |   9931.71 |     BUILDING |                                                     ithely along the regular, regular theodolites. fluffily pending |
|      1381 | Customer#000001381 |    kAgLl7nUiPStCleWOiKevH3QAOhqtg9dVvrdN |          22 | 32-418-900-6494 |    367.82 |     BUILDING |                                                                           posits sleep carefully around the slyly e |
|      2381 | Customer#000002381 |  z7B43DZ7RGlkgEi3YaXfy,Aw2SZepYurvII41Do |           5 | 15-493-990-8133 |    412.99 |    FURNITURE |                                                          ul requests use slyly quickly even deposits. slyly pending |
|      3381 | Customer#000003381 |                    03jULkpVTm92eKW24meIj |          13 | 23-441-750-5088 |   2473.54 |   AUTOMOBILE |                                                  er the carefully bold multipliers doze blithely along the furiousl |
|      3810 | Customer#000003810 |                       hlRTIO4e4HNahc8A D |          18 | 28-881-994-8196 |   9906.80 |    FURNITURE |                                                                                    bold requests after the furiousl |
|      3811 | Customer#000003811 |                      b6vEJqifAgSbGhzTwTz |          22 | 32-962-997-2221 |   5697.04 |    FURNITURE |                                                   he carefully special packages. regular deposits sleep blithely bl |
|      3812 | Customer#000003812 |                               HGYp5dZtlA |          14 | 24-653-654-5032 |   4204.53 |    FURNITURE |                                                                                  y ironic requests believe blithely |
|      3813 | Customer#000003813 |            Aeky0En0JO5V1zRgFZ9EvCcBWaTmW |           6 | 16-983-191-7833 |   -494.03 |    HOUSEHOLD |                                                                     rding to the express foxes. bold platelets main |
|      3814 | Customer#000003814 |             FQ3lWCA3znooc3S SmDCfwqdn4R9 |          20 | 30-833-732-5401 |   -207.83 |   AUTOMOBILE |                                                                              ounts alongside of the fluffily pendin |
|      3815 | Customer#000003815 |                   S5SIUeDCuVOKRTZqZ5M4CC |          19 | 29-968-870-7672 |   2887.99 |    FURNITURE |                                                                         ccounts. fluffily bold requests sleep furio |
|      3816 | Customer#000003816 |                               kFLu9DYSXH |           6 | 16-806-750-3968 |   4353.05 |   AUTOMOBILE |                                g the carefully ironic asymptotes. furiously ironic foxes haggle. fluffily bold pack |
|      3817 | Customer#000003817 |    IWp4rgxgRxvUeHK2xtX8SEfGYmHYrCCpbBwXm |          16 | 26-142-669-5787 |   9766.42 |   AUTOMOBILE |                                            es until the bold instructions wake quickly carefully unusual packages;  |
|      3818 | Customer#000003818 | yrvC8HiUJVCsu7MyFHcyTcmAP0NgEWnoXQgTAz36 |           7 | 17-983-218-3716 |    346.99 |   AUTOMOBILE |                            theodolites. special instructions are blithely slyly special pinto beans; unusual, bold  |
|      3819 | Customer#000003819 |                            TejxSl9G1aF1x |           4 | 14-964-709-5782 |   -210.31 |     BUILDING |     os. excuses boost quickly across the carefully bold deposits. permanently pending accounts cajole. silent, clos |
|      4381 | Customer#000004381 |              MIQXH5W6Zsup5cVYfCtWupiJtgi |           2 | 12-570-797-1472 |   2542.55 |    HOUSEHOLD |                                                                          r deposits. carefully even packages along  |
|      5381 | Customer#000005381 |           bXQ,KuigJB1nASXN73PDwNOvXCIkp5 |           5 | 15-700-184-7619 |   4130.88 |    MACHINERY |                                                               es. carefully ironic ideas sleep blithely about the i |
|      6381 | Customer#000006381 |                    BKfk07DtN45gg2w4mMUK1 |           7 | 17-877-502-9214 |   7346.88 |    HOUSEHOLD |               inal asymptotes boost. bold, ironic requests are along the regular, special packages. pending account |
|      7381 | Customer#000007381 |       yq7RXRmclCUi6wJspelKaEWSJ  TfycLah |          20 | 30-666-139-1602 |     73.39 |     BUILDING | fluffily special requests are about the fluffily unusual foxes. final frets are slyly fluffily final deposits. even |
|      8381 | Customer#000008381 |    7kbg8wegbgGmgiW8OQ4SbJ8colXl6rpBmHudJ |           0 | 10-177-308-9094 |   6674.59 |   AUTOMOBILE |           uests against the carefully bold excuses sleep blithely slyly final instructions; unusual requests about  |
|      9381 | Customer#000009381 |                            BhXODcEOpwNg6 |          17 | 27-708-588-6706 |   4788.15 |    HOUSEHOLD |                      sual hockey players use above the final packages. quickly ironic excuses sleep. slyly final pa |
|     10381 | Customer#000010381 |                             RLDSr5JOMK45 |          15 | 25-294-314-6077 |    106.15 |    FURNITURE |                                                       r the furiously unusual pinto beans. blithely ironic pinto be |
|     11381 | Customer#000011381 |                         cHcQKKDGnWLbq48O |           7 | 17-652-294-7849 |   1959.81 |    MACHINERY |                                                                    structions. slyly ironic requests play furiously |
|     12381 | Customer#000012381 |          hPUYchVeqkeLC1QCsGJXF5Fj6QDQhkd |          13 | 23-989-969-2819 |   1172.56 |    HOUSEHOLD |                                                          cies cajole carefully. unusual, ironic ideas believe caref |
|     13381 | Customer#000013381 |                          TkAwDfheF4H3g9H |           9 | 19-465-107-1496 |   3221.83 |    HOUSEHOLD |                            efully regular foxes. ironic platelets sleep above the regular deposits. furiously slow  |
|     13810 | Customer#000013810 |            KDptBRwrSNgIfqVU,Si2smGKFLFix |          18 | 28-953-486-1222 |   5133.48 |     BUILDING |                                                   lithely. slyly ironic pinto beans nag. ironic, regular packages a |
|     13811 | Customer#000013811 |              XvajiqJbFBaY8IfkIPanJeDnrba |          19 | 29-964-589-6640 |   3436.54 |    MACHINERY |                                                           ly regular theodolites: courts nag blithely. bold request |
|     13812 | Customer#000013812 | WuM0MP,N22TPjuHnUzDbcyJF86fkycoa8L7xPsKK |           0 | 10-571-845-2630 |   5982.87 |   AUTOMOBILE |                                                        lar ideas use carefully alongside of the fluffily final plat |
|     13813 | Customer#000013813 |                          Xh5saiXGJkv5 lL |          21 | 31-140-142-6191 |   1190.11 |    MACHINERY |                      te blithely even instructions. regular, final orbits nag carefully. carefully bold dinos wake  |
|     13814 | Customer#000013814 |                 PnsbC4EN7J4TZ30 yPPlI8xh |          17 | 27-767-457-2550 |   2131.39 |    FURNITURE |                                                            instructions according to the furious, ironic platelets  |
|     13815 | Customer#000013815 |                       UHXyxzMMNwV dIRAGo |          11 | 21-606-813-1389 |   4240.37 |    FURNITURE |                                                   special deposits. carefully daring requests sleep blithely. caref |
|     13816 | Customer#000013816 |                  XX Nlht,5lD6vroOC75qAS  |          17 | 27-501-367-6604 |   7844.29 |   AUTOMOBILE |                                                          ully final excuses. carefully unusual accounts about the w |
|     13817 | Customer#000013817 |           eg1g5BqcUMPqvGy9oY7bjVe7nj6NsH |           3 | 13-978-449-6295 |   2094.32 |    FURNITURE |                                                    slyly. even theodolites nag regularly-- furiously even foxes abo |
|     13818 | Customer#000013818 |              r17Nf8Y8iLfBKIGP6zJUrWl5K3g |          15 | 25-948-173-6359 |   8239.56 |    HOUSEHOLD |                                                                cial courts. excuses sleep quickly regular accounts. |
|     13819 | Customer#000013819 | 9MlFsiIsVNrVT8jJKRp30wISV5sNdXAwIT85F8S  |          12 | 22-868-584-6588 |   1312.29 |     BUILDING |                                                                              ackages. carefully special pinto beans |
|     14381 | Customer#000014381 |                            jakuN8Gt0SJNE |          21 | 31-449-680-6297 |   1915.30 |    FURNITURE |                         the even accounts cajole blithely furiously express theodolites. slyly regular platelets ha |
+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+---------------------------------------------------------------------------------------------------------------------+

In [19]:
%%sql
-- all customer rows where the name ends with a 381
SELECT
  *
FROM
  customer
WHERE
  c_name LIKE '%381';

+-----------+--------------------+-----------------------------------------+-------------+-----------------+-----------+--------------+---------------------------------------------------------------------------------------------------------------------+
| c_custkey |             c_name |                               c_address | c_nationkey |         c_phone | c_acctbal | c_mktsegment |                                                                                                           c_comment |
+-----------+--------------------+-----------------------------------------+-------------+-----------------+-----------+--------------+---------------------------------------------------------------------------------------------------------------------+
|       381 | Customer#000000381 |                        wXs5zN2nPHqPsfFO |           5 | 15-860-208-7093 |   9931.71 |     BUILDING |                                                     ithely along the regular, regular theodolites. fluffily pending |
|      1381 | Customer#000001381 |   kAgLl7nUiPStCleWOiKevH3QAOhqtg9dVvrdN |          22 | 32-418-900-6494 |    367.82 |     BUILDING |                                                                           posits sleep carefully around the slyly e |
|      2381 | Customer#000002381 | z7B43DZ7RGlkgEi3YaXfy,Aw2SZepYurvII41Do |           5 | 15-493-990-8133 |    412.99 |    FURNITURE |                                                          ul requests use slyly quickly even deposits. slyly pending |
|      3381 | Customer#000003381 |                   03jULkpVTm92eKW24meIj |          13 | 23-441-750-5088 |   2473.54 |   AUTOMOBILE |                                                  er the carefully bold multipliers doze blithely along the furiousl |
|      4381 | Customer#000004381 |             MIQXH5W6Zsup5cVYfCtWupiJtgi |           2 | 12-570-797-1472 |   2542.55 |    HOUSEHOLD |                                                                          r deposits. carefully even packages along  |
|      5381 | Customer#000005381 |          bXQ,KuigJB1nASXN73PDwNOvXCIkp5 |           5 | 15-700-184-7619 |   4130.88 |    MACHINERY |                                                               es. carefully ironic ideas sleep blithely about the i |
|      6381 | Customer#000006381 |                   BKfk07DtN45gg2w4mMUK1 |           7 | 17-877-502-9214 |   7346.88 |    HOUSEHOLD |               inal asymptotes boost. bold, ironic requests are along the regular, special packages. pending account |
|      7381 | Customer#000007381 |      yq7RXRmclCUi6wJspelKaEWSJ  TfycLah |          20 | 30-666-139-1602 |     73.39 |     BUILDING | fluffily special requests are about the fluffily unusual foxes. final frets are slyly fluffily final deposits. even |
|      8381 | Customer#000008381 |   7kbg8wegbgGmgiW8OQ4SbJ8colXl6rpBmHudJ |           0 | 10-177-308-9094 |   6674.59 |   AUTOMOBILE |           uests against the carefully bold excuses sleep blithely slyly final instructions; unusual requests about  |
|      9381 | Customer#000009381 |                           BhXODcEOpwNg6 |          17 | 27-708-588-6706 |   4788.15 |    HOUSEHOLD |                      sual hockey players use above the final packages. quickly ironic excuses sleep. slyly final pa |
|     10381 | Customer#000010381 |                            RLDSr5JOMK45 |          15 | 25-294-314-6077 |    106.15 |    FURNITURE |                                                       r the furiously unusual pinto beans. blithely ironic pinto be |
|     11381 | Customer#000011381 |                        cHcQKKDGnWLbq48O |           7 | 17-652-294-7849 |   1959.81 |    MACHINERY |                                                                    structions. slyly ironic requests play furiously |
|     12381 | Customer#000012381 |         hPUYchVeqkeLC1QCsGJXF5Fj6QDQhkd |          13 | 23-989-969-2819 |   1172.56 |    HOUSEHOLD |                                                          cies cajole carefully. unusual, ironic ideas believe caref |
|     13381 | Customer#000013381 |                         TkAwDfheF4H3g9H |           9 | 19-465-107-1496 |   3221.83 |    HOUSEHOLD |                            efully regular foxes. ironic platelets sleep above the regular deposits. furiously slow  |
|     14381 | Customer#000014381 |                           jakuN8Gt0SJNE |          21 | 31-449-680-6297 |   1915.30 |    FURNITURE |                         the even accounts cajole blithely furiously express theodolites. slyly regular platelets ha |
+-----------+--------------------+-----------------------------------------+-------------+-----------------+-----------+--------------+---------------------------------------------------------------------------------------------------------------------+

In [20]:
%%sql
-- all customer rows where the name starts with a 381
SELECT
  *
FROM
  customer
WHERE
  c_name LIKE '381%';

+-----------+--------+-----------+-------------+---------+-----------+--------------+-----------+
| c_custkey | c_name | c_address | c_nationkey | c_phone | c_acctbal | c_mktsegment | c_comment |
+-----------+--------+-----------+-------------+---------+-----------+--------------+-----------+
+-----------+--------+-----------+-------------+---------+-----------+--------------+-----------+

In [21]:
%%sql
-- all customer rows where the name has a combination of any character and 9 and 1
SELECT
  *
FROM
  customer
WHERE
  c_name LIKE '%_91%';

+-----------+--------------------+-----------------------------------------+-------------+-----------------+-----------+--------------+----------------------------------------------------------------------------------------------------------------------+
| c_custkey |             c_name |                               c_address | c_nationkey |         c_phone | c_acctbal | c_mktsegment |                                                                                                            c_comment |
+-----------+--------------------+-----------------------------------------+-------------+-----------------+-----------+--------------+----------------------------------------------------------------------------------------------------------------------+
|        91 | Customer#000000091 |   9Sce2m BjvDdjQkqMx8UnrUsJkk1IBAvZPTsA |           8 | 18-239-400-3677 |   4643.14 |   AUTOMOBILE |                              yly ironic foxes lose slyly pending asymptotes. slyly final theodolites nag blithely ar |
|       191 | Customer#000000191 |                       cZMo3 b4GwZtUmdbw |          16 | 26-811-707-6869 |   2945.16 |     BUILDING |                                                                                  daringly quickly ironic foxes. care |
|       291 | Customer#000000291 |                        2FfdPluDa2fxPaRh |           8 | 18-657-656-2318 |   4261.68 |    HOUSEHOLD |   ld deposits. regularly ironic pinto beans cajole permanently furiously express packages. regular, unusual sheaves  |
|       391 | Customer#000000391 |                     BZ,850WgpZ0YSFs79Sb |          11 | 21-604-451-4462 |   4801.30 |    HOUSEHOLD |                             tions wake about the blithely final instructions. excuses sleep regular requests. slyly  |
|       491 | Customer#000000491 |              AXsbcyMDujG,CAiEu4FmufbZ1k |           0 | 10-856-259-7548 |    785.37 |   AUTOMOBILE |                                                               ly final, even hockey players. carefully final ideas w |
|       591 | Customer#000000591 |                       wkmTqEmyI3UOEoG3q |          20 | 30-584-309-7885 |   6344.66 |    MACHINERY |             xpress deposits. slyly ironic ideas haggle: daringly even requests after the quickly final ideas boost q |
|       691 | Customer#000000691 |                  0aGn3Vcf6ZKi82ogENfnso |          16 | 26-741-688-4189 |   9566.15 |    MACHINERY |                         ven packages cajole fluffily fluffily unusual frays. ironic excuses sleep furiously. regular |
|       791 | Customer#000000791 |                     Y14aVvMuDDgnmEuCEPK |          13 | 23-575-775-4059 |   3694.81 |    HOUSEHOLD |                                                               beans use carefully furiously regular deposits. slyly  |
|       891 | Customer#000000891 |                       r4,EU38BM0qdbjwqH |          11 | 21-439-958-7518 |   6032.18 |    FURNITURE |                                                                                ong the quickly quick patterns. slyly |
|       910 | Customer#000000910 |                           bKS7h8o7ZEiRj |           9 | 19-899-463-4292 |   5794.69 |     BUILDING |                                 silent deposits are. blithely final foxes cajole slyly according to the furiously re |
|       911 | Customer#000000911 |               68,LIR0Fhraw6LUTrFW6Ew05u |          13 | 23-121-746-7339 |   6364.60 |     BUILDING |          uches. blithely silent requests haggle quick, bold accounts. carefully bold pinto beans according to the no |
|       912 | Customer#000000912 |                        OaqZYembag,qVEwo |          14 | 24-348-437-3105 |   3861.36 |    FURNITURE |                                                                              s sleep slyly along the regular, even i |
|       913 | Customer#000000913 |                        RCJd97HzePqdmZqv |          14 | 24-500-946-3315 |   6935.16 |    FURNITURE |                                         symptotes. platelets are carefully carefully special foxes. carefully unusua |
|       914 | Customer#000000914 |                   sfm DilMcxoMeKw6sbgj9 |           5 | 15-915-758-7313 |   1230.79 |    MACHINERY |                                                           ons. unusual requests cajole blithely boldly regular packa |
|       915 | Customer#000000915 |                  FykMsCZp9sPLb5F1Z0kS5F |           0 | 10-452-398-2445 |   3776.53 |   AUTOMOBILE |                                                     he even, bold instructions. quickly final foxes wake thinly care |
|       916 | Customer#000000916 |                    S1CTDHEshFRWaWbnVEPv |          23 | 33-511-587-8754 |    130.59 |    MACHINERY | ajole packages. carefully final excuses detect carefully among the furiously final instructions. regular courts wake |
|       917 | Customer#000000917 |       h1r780DE8lF6aGidEsF3Kva80dOlXvtsV |           1 | 11-100-917-5264 |   3679.65 |    HOUSEHOLD |                           iously slyly express ideas. quickly final ideas above the carefully special requests grow  |
|       918 | Customer#000000918 |                           58ByGoNkaauhU |          19 | 29-992-318-6425 |   -155.06 |    MACHINERY |        y regular platelets. regular, unusual packages sleep evenly. slyly bold accounts affix carefully. bold, final |
|       919 | Customer#000000919 |                            PjkyzB5w39Jg |           9 | 19-537-180-2200 |   9774.97 |    MACHINERY |                                           furiously regular gifts. stealthily regular instructions use regular, idle |
|       991 | Customer#000000991 |                              OgZkswZKF7 |          21 | 31-977-971-6175 |   6533.53 |   AUTOMOBILE |                    y final packages. regular, even pinto beans wake. bold packages run furiously. furious, regular d |
|      1091 | Customer#000001091 |                XtMTviXK6RZ91oBw7ynIT4z0 |          17 | 27-336-955-4882 |   -710.53 |     BUILDING |                                                 onic accounts are quickly. ironic instructions wake blithely against |
|      1191 | Customer#000001191 |       hRhTNKi3npZGKxPzi5N9pU9b,Rl0ka4ID |          19 | 29-587-244-2901 |   9088.54 |   AUTOMOBILE |                                                                       ic accounts detect requests. final, special de |
|      1291 | Customer#000001291 |        OKXJGOjIiRtAGTFYYWYaZScffmt0Zw20 |           7 | 17-693-294-2656 |   8227.37 |     BUILDING |                                                s, ironic packages are fluffily around the furiously careful packages |
|      1391 | Customer#000001391 |     UeAdVulIH4V2xQTg56UIUaeHHJthYg81mQa |          23 | 33-558-545-3053 |   5510.28 |    FURNITURE |   regular, regular requests. ideas are regular dependencies. foxes among the closely close accounts affix around the |
|      1491 | Customer#000001491 |                           lH1ibXlwVFBny |           4 | 14-931-281-5631 |   3739.82 |    HOUSEHOLD |                      y bold hockey players. quickly bold accounts are slyly final, pending dependencies. carefully i |
|      1591 | Customer#000001591 |                          2fhd7jD4EIxRQZ |           9 | 19-142-875-7741 |   7470.70 |    FURNITURE |                                                              he quickly unusual requests. pending, ironic accounts c |
|      1691 | Customer#000001691 |             qwQH1lfhnAtwhL1hzx5HOvQIupc |          12 | 22-649-185-6921 |   3367.22 |   AUTOMOBILE |                ously special packages. fluffily ironic pearls about the bold, special deposits boost closely ironic  |
|      1791 | Customer#000001791 |  EmxoaiZ0vIi6ATG0WlmnUHUmH2b,aNt Ijz741 |           8 | 18-937-127-3890 |   3917.82 |    HOUSEHOLD |                  packages sleep according to the quickly ironic platelets. fluffily unusual platelets sleep quickly. |
|      1891 | Customer#000001891 |                     vNJjDAYc l6K18m3ZR, |           9 | 19-323-409-2180 |   3069.79 |    HOUSEHOLD |    lar accounts. fluffily final asymptotes sleep blithely final packages. regular theodolites cajole carefully. regu |
|      1910 | Customer#000001910 |                         gaRu,,M,wYBlxd  |           5 | 15-112-377-2843 |    475.44 |    FURNITURE |                                                                                      sual packages would are furious |
|      1911 | Customer#000001911 |                            mRGcuFcffluo |           1 | 11-369-744-8780 |   2601.29 |    HOUSEHOLD |                                          to the carefully final deposits. slyly unusual theodolites detect. regular  |
|      1912 | Customer#000001912 | ,qjthdVjnBDVqIOt8rSscRbRuUb6xC7Vvv 8fmP |          20 | 30-784-527-9935 |   3886.95 |    FURNITURE |                re fluffily special requests. theodolites among the boldly even packages dazzle against the ironic ex |
|      1913 | Customer#000001913 |                       Y2QT3tHsN0iQtd0Id |           8 | 18-831-659-1744 |   8031.55 |     BUILDING |                 g to the fluffily final accounts ought to lose unusual, ironic accounts. slyly final deposits will x |
|      1914 | Customer#000001914 |               iAoQfLYDacw NbZoijdaSP04G |           6 | 16-458-421-7729 |   3308.34 |    FURNITURE |                                              ackages nag. blithely regular multipliers are. deposits haggle closely  |
|      1915 | Customer#000001915 |           meyaPruBxVxX0,d6umhv7YWz5Z7Kl |          16 | 26-683-446-1665 |   7268.98 |   AUTOMOBILE |              efully according to the ruthless, ironic accounts. furiously ironic requests cajole. carefully enticing |
|      1916 | Customer#000001916 |                        IlkoNN3h5gtwT2ng |           5 | 15-662-459-4512 |   1768.76 |    HOUSEHOLD |                                                 final requests run carefully after the instructions. regular, final  |
|      1917 | Customer#000001917 |              L14UMCaEg0j8xFiSrayrj4tyD3 |           7 | 17-940-989-5599 |   3470.08 |   AUTOMOBILE |      thrash carefully. slyly bold packages sleep against the blithely special instructions. even requests cajole abo |
|      1918 | Customer#000001918 |    p9pMyTeP2pw7KyNccs30JB6w7Jc B,x6aHDA |           9 | 19-987-388-4413 |   8539.61 |    MACHINERY |                                                                             refully. blithely final deposits nag car |
|      1919 | Customer#000001919 |                             GDL9O9ta38j |          18 | 28-664-832-4585 |   6262.18 |    HOUSEHOLD |                                                                                       dencies cajole around the idea |
|      1991 | Customer#000001991 |    amsK9oO0Y9mWQtQ6XPXK2JiNezIRhUQSPR,C |           9 | 19-351-767-3188 |   3517.27 |    FURNITURE |                                        out the furiously dogged escapades. furiously final packages haggle pending e |
|      2091 | Customer#000002091 |                       cpAjOTaY0sBMO,ZpO |          16 | 26-354-387-4231 |   2601.61 |    FURNITURE |                         arefully express accounts. blithely unusual accounts are furiously through the slyly regular |
|      2191 | Customer#000002191 |                     sk1nfTCwrBZM8k2xlVd |           7 | 17-107-715-5454 |   2005.99 |    MACHINERY |                                                                                  bravely regular ideas affix blithel |
|      2291 | Customer#000002291 |               GqxVD9B tw58tQQv7RODWPF87 |           5 | 15-553-777-4519 |    -13.83 |   AUTOMOBILE |                                         ing to the blithely ironic requests. ruthlessly unusual ideas cajole across  |
|      2391 | Customer#000002391 |                             rFNT5y y05, |          24 | 34-538-909-7828 |   -993.93 |     BUILDING |                                                                                grate silent accounts. silent deposit |
|      2491 | Customer#000002491 |                4b,wCPrQI7x4rGlAy,hZkyj5 |           7 | 17-111-683-1091 |   9386.50 |   AUTOMOBILE |                     ts use blithely according to the furiously ironic foxes. carefully even packages alongside of th |
|      2591 | Customer#000002591 |                        8RLmynQmQ75Wm,c0 |          18 | 28-695-347-3960 |   3319.74 |    FURNITURE |                                                      ar accounts detect quickly blithely unusual accounts. blithely  |
|      2691 | Customer#000002691 |       A, tJbLStpXccsOpdt8Li6GJX t0T4Xyj |          21 | 31-383-871-8222 |   1070.53 |    FURNITURE |                                                                         platelets. carefully silent platelets are fu |
|      2791 | Customer#000002791 |        3aQZWTkzULLA2HpXk8sXSnRe,fJQDkNi |           6 | 16-732-903-5535 |   1382.12 |   AUTOMOBILE |                                                                               wake busily above the regular, express |
|      2891 | Customer#000002891 |                             XJ8SXrbwmOO |           7 | 17-282-306-5219 |   4894.47 |    FURNITURE |                                                                      ss foxes. deposits integrate. final instruction |
|      2910 | Customer#000002910 |       2ooeLaogzg3cTxqgu FRUG5gAtlc5 00p |           1 | 11-391-736-1612 |   8357.46 |    MACHINERY |                                                   e ruthlessly pending accounts. unusual accounts nag. finally even  |
|      2911 | Customer#000002911 |                            imbkK2N9LrtC |          19 | 29-365-497-7730 |   2805.23 |    FURNITURE |                                             ter the even packages haggle furiously special requests. carefully unusu |
|      2912 | Customer#000002912 |       A7SbUSVDSpUUWqymJwEfPRHguMfKOO9Sm |          18 | 28-465-202-9678 |   -552.68 |    HOUSEHOLD |                                                               ide of the slyly express packages. furiously regular i |
|      2913 | Customer#000002913 |         ZQyuVx3dgACYpkIiC4Jf9 FYY3UUPIP |          16 | 26-622-551-8642 |   4101.76 |    HOUSEHOLD |                                                                              ly dependencies. quickly regular dolphi |
|      2914 | Customer#000002914 |                        JuBWQZOgRRCi3Uzp |          19 | 29-736-466-9105 |   -690.62 |    FURNITURE |               ckages wake up the furiously regular instructions. blithely ironic accounts integrate carefully. pendi |
|      2915 | Customer#000002915 |      n15IgA F1JhiKiS6zE,piQ1Tpn2iE8LSE, |           0 | 10-870-588-4934 |   6748.74 |    FURNITURE |                                 cajole. quickly ironic excuses wake slyly alongside of the blithely pending deposits |
|      2916 | Customer#000002916 |                 sC7mIpa9Fbt6acD8XALggWg |          13 | 23-879-865-6812 |   3052.46 |     BUILDING |                  wake fluffily even foxes. excuses affix. carefully special requests snooze carefully. carefully sly |
|      2917 | Customer#000002917 |            bzCDV0m7F0mryJOyoXi2rdeKX4FD |          17 | 27-939-570-1941 |   7643.30 |    MACHINERY |              ges are quickly! thinly final theodolites wake blithely. quickly final accounts are furiously quickly b |
|      2918 | Customer#000002918 |            x57eK,YVBypNH7rTVA23ne8PtbSO |          24 | 34-471-745-3416 |    924.86 |    HOUSEHOLD |                          ly after the theodolites. quickly special multipliers nag along the fluffily final instruct |
|      2919 | Customer#000002919 | CThKdXAE1WYGIhJq2QPIarekcFW,njEYdm39 TH |          23 | 33-365-556-6915 |   -948.02 |     BUILDING |                                           regular accounts doze finally pending dependencies! furiously unusual foxe |
|      2991 | Customer#000002991 |                Y0wbQA3u4viEZLe ndjwdMCr |           8 | 18-907-651-5481 |   5549.26 |    FURNITURE |                                                      regular dolphins wake carefully deposits. regular, final theodo |
|      3091 | Customer#000003091 |                    6aKsMqm7 MyGe634P9Uo |           2 | 12-848-402-5035 |   2051.91 |   AUTOMOBILE |  s sleep above the blithely ironic platelets. regular dependencies cajole carefully along the unusual instructions.  |
|      3191 | Customer#000003191 |            WCZjsmPDy2C2admD0R7pVWuTqOR8 |          19 | 29-535-757-7584 |   4314.25 |    MACHINERY |                                                                                     the final tithes haggle quickly  |
|      3291 | Customer#000003291 |                       Pxe1cEVjemTlfg8nU |          23 | 33-156-325-5084 |   3390.85 |   AUTOMOBILE |            its. furiously special deposits cajole blithely. quickly even accounts about the unusual, even instructio |
|      3391 | Customer#000003391 |        Sz4TynbDQNCL2ax6pJqkyw0dReOy0iN9 |           3 | 13-592-494-2668 |   7742.35 |     BUILDING |                                                                                      althily regular requests behind |
|      3491 | Customer#000003491 |     OZruqHXa6KKFaAYZqukGYG,0ee0NkCxLqn2 |          10 | 20-575-983-1678 |   4748.41 |    HOUSEHOLD |                                   . theodolites boost blithely silent foxes. carefully ironic pinto beans nag. speci |
|      3591 | Customer#000003591 |                        rq8MAfUlo9HDGtnX |           2 | 12-340-575-5823 |   3555.85 |     BUILDING |                                                                                     dencies wake requests. blithely  |
|      3691 | Customer#000003691 |                    GQXQ1ZNNWZdXFo88bDP6 |          10 | 20-758-985-1035 |   7967.22 |    MACHINERY |                                                                          the deposits. even packages sleep fluffily. |
|      3791 | Customer#000003791 |      9ApGfY1GaefneFkxeTxsXUJP4L8O9Pzz2k |           3 | 13-391-929-8365 |   8490.96 |    FURNITURE |                                                         y. blithely ironic accounts cajole furiously. pending instru |
|      3891 | Customer#000003891 |       E07vRMZVEz0,U,ls9ik1LqHEQD Dfo7RF |           1 | 11-927-163-1261 |   7596.67 |    MACHINERY |                                                                        equests above the blithely special accounts p |
|      3910 | Customer#000003910 |                   1vCZWFV3OT7wy9E,Ax38e |          12 | 22-790-171-6270 |   -183.86 |    FURNITURE |                            sts nag slyly. carefully bold packages use thinly. blithely pending ideas haggle furiousl |
|      3911 | Customer#000003911 |    taLupgYbVqYG2qBZJAS0 thm6YAF33K,mBS0 |           5 | 15-659-498-3817 |   9712.07 |    MACHINERY |                                               beans. doggedly final accounts sleep daringly. quickly final gifts mai |
|      3912 | Customer#000003912 |    Ex2vR49kgh9wqpjh3KZRtp6RkKX8abQP7Pjg |          21 | 31-638-158-8616 |    -90.52 |    HOUSEHOLD |    nic Tiresias. fluffily ironic requests integrate slyly. slyly pending dolphins sleep above the pinto beans! packa |
|      3913 | Customer#000003913 |                     m4m40RLg,PCxcbhjKg6 |          20 | 30-696-323-1702 |   5572.00 |   AUTOMOBILE |                                                  the carefully regular frays. carefully final requests after the car |
|      3914 | Customer#000003914 |                         zyIMHcMcJNoJar2 |           2 | 12-575-753-3202 |   3547.25 |   AUTOMOBILE |                         thely special accounts breach about the close accounts. pinto beans are furiously across the |
|      3915 | Customer#000003915 |                         ZH4YXQa,ta5YRS8 |          23 | 33-825-949-4537 |   7636.45 |    MACHINERY |                                            deposits cajole. requests haggle stealthy requests. furiously regular pac |

In [22]:
%%sql
-- all customer rows which have nationkey = 10 or nationkey = 20
SELECT
  *
FROM
  customer
WHERE
  c_nationkey IN (10, 20)
LIMIT 
10;

+-----------+--------------------+----------------------------------------+-------------+-----------------+-----------+--------------+----------------------------------------------------------------------------------------------------------------+
| c_custkey |             c_name |                              c_address | c_nationkey |         c_phone | c_acctbal | c_mktsegment |                                                                                                      c_comment |
+-----------+--------------------+----------------------------------------+-------------+-----------------+-----------+--------------+----------------------------------------------------------------------------------------------------------------+
|         6 | Customer#000000006 |    g1s,pzDenUEBW3O,2 pxu0f9n2g64rJrt5E |          20 | 30-114-968-4951 |   7638.57 |   AUTOMOBILE |        quickly silent asymptotes are slyly regular excuses. instructions wake furiously? quickly bold courts p |
|        16 | Customer#000000016 |                    P2IQMff18ercaYrO,40 |          10 | 20-781-609-3107 |   4681.03 |    FURNITURE |                                            ests cajole. pinto beans detect slyly. final packages cajole slyly  |
|        41 | Customer#000000041 |        jeREsFtCuMqEwdvTFqTkY2NzGRYDG1m |          10 | 20-917-711-4011 |    270.95 |    HOUSEHOLD |       uctions wake carefully pending deposits: pinto beans along the carefully final deposits sleep blithely a |
|        49 | Customer#000000049 |  PdKqM4TlA OLTjaeRmvH7QWDu80USfslgqutF |          10 | 20-908-631-4424 |   4573.94 |    FURNITURE |                                               quests haggle! furiously unusual theodolites cajole carefully. t |
|        55 | Customer#000000055 | ti9p9XgdmFsjsQI6XQrISDUMFAusnmKS SBoCE |          10 | 20-180-440-8525 |   4572.11 |    MACHINERY | dolites. bold instructions wake fluffily regular ideas. regular theodolites are furiously carefully unusual ac |
|        56 | Customer#000000056 |                          qh212iaGWtoVp |          10 | 20-895-685-6920 |   6530.86 |    FURNITURE |                   quickly final dependencies. even dependencies are slyly regularly silent theodolites. slow a |
|        81 | Customer#000000081 |                     9jUFbrThIIeoUNd8 9 |          20 | 30-165-277-3269 |   2023.71 |     BUILDING |                             s against the ironic packages haggle carefully above the slyly express pinto beans |
|       100 | Customer#000000100 |                         MBy6qq3OEGpV4u |          20 | 30-749-445-4907 |   9889.89 |    FURNITURE |                                 dazzle carefully furiously final foxes. express, ironic packages among the qui |
|       104 | Customer#000000104 |        SEOogsfT y09vI2z PcSTnI18U6rNTf |          10 | 20-966-284-8065 |   -588.38 |    FURNITURE |                                                                               efully bold deposits. carefully  |
|       105 | Customer#000000105 |               XI8hMXfr8bIKTGhIRS2sYs,p |          10 | 20-793-553-6417 |   9091.82 |    MACHINERY |                                                           solve pending, final requests. regular, bold platele |
+-----------+--------------------+----------------------------------------+-------------+-----------------+-----------+--------------+----------------------------------------------------------------------------------------------------------------+

In [23]:
%%sql
-- all customer rows which have do not have nationkey as 10 or 20
SELECT
  *
FROM
  customer
WHERE
  c_nationkey NOT IN (10, 20)
LIMIT 
10;

+-----------+--------------------+---------------------------------------+-------------+-----------------+-----------+--------------+-------------------------------------------------------------------------------------------------------------------+
| c_custkey |             c_name |                             c_address | c_nationkey |         c_phone | c_acctbal | c_mktsegment |                                                                                                         c_comment |
+-----------+--------------------+---------------------------------------+-------------+-----------------+-----------+--------------+-------------------------------------------------------------------------------------------------------------------+
|         1 | Customer#000000001 |                     j5JsirBM9PsCy0O1m |          15 | 25-989-741-2988 |    711.56 |     BUILDING |                                                    y final requests wake slyly quickly special accounts. blithely |
|         2 | Customer#000000002 |        487LW1dovn6Q4dMVymKwwLE9OKf3QG |          13 | 23-768-687-3665 |    121.65 |   AUTOMOBILE |                                                   y carefully regular foxes. slyly regular requests about the bli |
|         3 | Customer#000000003 |                          fkRGN8nY4pkE |           1 | 11-719-748-3364 |   7498.12 |   AUTOMOBILE |            fully. carefully silent instructions sleep alongside of the slyly regular asymptotes. quickly regular  |
|         4 | Customer#000000004 |                           4u58h fqkyE |           4 | 14-128-190-5944 |   2866.83 |    MACHINERY |                                                                  sublate. fluffily even instructions are about th |
|         5 | Customer#000000005 |          hwBtxkoBF qSW4KrIk5U 2B1AU7H |           3 | 13-750-942-6364 |    794.47 |    HOUSEHOLD |                                                                equests haggle furiously against the pending packa |
|         7 | Customer#000000007 |        8OkMVLQ1dK6Mbu6WG9 w4pLGQ n7MQ |          18 | 28-190-982-9759 |   9561.95 |   AUTOMOBILE |                                    ounts. ironic, regular accounts sleep. final requests haggle quickly after the |
|         8 | Customer#000000008 | j,pZ,Qp,qtFEo0r0c 92qobZtlhSuOqbE4JGV |          17 | 27-147-574-9335 |   6819.74 |     BUILDING | riously final excuses sublate quickly among the fluffily even foxes. quickly final packages haggle furiously furi |
|         9 | Customer#000000009 |            vgIql8H6zoyuLMFNdAMLyE7 H9 |           8 | 18-338-906-3675 |   8324.07 |    FURNITURE |                     ss pinto beans believe slyly quiet deposits-- doggedly bold packages boost. quickly ironic de |
|        10 | Customer#000000010 |    Vf mQ6Ug9Ucf5OKGYq fsaX AtfsO7,rwY |           5 | 15-741-346-9870 |   2753.54 |    HOUSEHOLD |                                                                                   g quickly after the evenly bold |
|        11 | Customer#000000011 |               cG48rYjF3Aw7xs hKUXXqmI |          23 | 33-464-151-3439 |   -272.60 |     BUILDING |              ng to the regular foxes. furiously final deposits across the final platelets cajole quickly above th |
+-----------+--------------------+---------------------------------------+-------------+-----------------+-----------+--------------+-------------------------------------------------------------------------------------------------------------------+

In [24]:
%%sql
SELECT
  COUNT(*)
FROM
  customer;

-- 15,000

+----------+
| count(1) |
+----------+
|    15000 |
+----------+

In [25]:
%%sql
SELECT
  COUNT(*)
FROM
  lineitem;

-- 600,572

+----------+
| count(1) |
+----------+
|   600572 |
+----------+

In [26]:
%%sql
-- Will show the first ten customer records with the lowest custkey
-- rows are ordered in ASC order by default
SELECT
  *
FROM
  orders
ORDER BY
  o_custkey
LIMIT
  10;

+------------+-----------+---------------+--------------+-------------+-----------------+-----------------+----------------+-------------------------------------------------------------------------------+
| o_orderkey | o_custkey | o_orderstatus | o_totalprice | o_orderdate | o_orderpriority |         o_clerk | o_shippriority |                                                                     o_comment |
+------------+-----------+---------------+--------------+-------------+-----------------+-----------------+----------------+-------------------------------------------------------------------------------+
|      36422 |         1 |             O |    268835.44 |  1997-03-04 |        3-MEDIUM | Clerk#000000532 |              0 |                       s. slyly regular platelets doubt slyly after the thinly |
|     224167 |         1 |             O |     81485.84 |  1996-05-08 |           5-LOW | Clerk#000000657 |              0 |        ithely unusual deposits. slyly pending somas wake quickly according to |
|     135943 |         1 |             F |    263247.54 |  1993-06-22 | 4-NOT SPECIFIED | Clerk#000000685 |              0 |                                               ironic ideas affix furiously ac |
|     164711 |         1 |             F |    283261.47 |  1992-04-26 |        3-MEDIUM | Clerk#000000361 |              0 |                                                  fully special ideas. fluffil |
|     287619 |         1 |             O |     11925.85 |  1996-12-26 |           5-LOW | Clerk#000000854 |              0 | t pending requests. carefully ironic sheaves among the slyly final asymptotes |
|     385825 |         1 |             O |    235155.22 |  1995-11-01 |          2-HIGH | Clerk#000000465 |              0 |               ly express accounts. special requests according to the carefull |
|     430243 |         1 |             F |     35523.05 |  1994-12-24 | 4-NOT SPECIFIED | Clerk#000000121 |              0 |                               e slyly along the furiously pending attainments |
|     454791 |         1 |             F |     83779.26 |  1992-04-19 |        1-URGENT | Clerk#000000815 |              0 |                                    ccounts sleep carefully along the slyly ev |
|     579908 |         1 |             O |     45744.09 |  1996-12-09 |           5-LOW | Clerk#000000783 |              0 |  t packages hinder bold, even dolphins. slyly ironic packages wake fluffily a |
|      52263 |         2 |             F |     36433.77 |  1994-05-08 | 4-NOT SPECIFIED | Clerk#000000080 |              0 |       uests dazzle blithely against the final, final requests. regular theodo |
+------------+-----------+---------------+--------------+-------------+-----------------+-----------------+----------------+-------------------------------------------------------------------------------+

In [27]:
%%sql
-- Will show the first ten customer's records with the highest custkey
SELECT
  *
FROM
  orders
ORDER BY
  o_custkey DESC
LIMIT
  10;

+------------+-----------+---------------+--------------+-------------+-----------------+-----------------+----------------+---------------------------------------------------------------------+
| o_orderkey | o_custkey | o_orderstatus | o_totalprice | o_orderdate | o_orderpriority |         o_clerk | o_shippriority |                                                           o_comment |
+------------+-----------+---------------+--------------+-------------+-----------------+-----------------+----------------+---------------------------------------------------------------------+
|     134848 |     14999 |             O |    170212.14 |  1998-03-07 |          2-HIGH | Clerk#000000669 |              0 |      uests alongside of the ironic, ironic instructions use above t |
|     129605 |     14999 |             P |    172005.93 |  1995-03-27 |        3-MEDIUM | Clerk#000000578 |              0 |                         ffix sometimes. regular ideas haggle carefu |
|      94817 |     14999 |             F |    193676.15 |  1992-08-02 | 4-NOT SPECIFIED | Clerk#000000650 |              0 |     d pearls. asymptotes haggle furiously regular ideas. furiously  |
|      67298 |     14999 |             O |    296795.91 |  1995-09-15 |        1-URGENT | Clerk#000000213 |              0 |                                    carefully bold requests. careful |
|     157894 |     14999 |             F |     76068.72 |  1992-06-08 | 4-NOT SPECIFIED | Clerk#000000952 |              0 | olites. unusual multipliers nag slyly even dependencies. slyly spec |
|     158657 |     14999 |             O |    164096.58 |  1998-02-28 |        3-MEDIUM | Clerk#000000977 |              0 |   eposits haggle slyly? blithely final packages about the regular p |
|     178087 |     14999 |             F |    320537.50 |  1994-04-16 |           5-LOW | Clerk#000000872 |              0 |                 l asymptotes nag stealthily. fluffily ironic reques |
|     190498 |     14999 |             O |    102768.22 |  1998-03-13 |           5-LOW | Clerk#000000941 |              0 |  n foxes. theodolites integrate blithely. final packages lose quick |
|     215168 |     14999 |             F |    202248.65 |  1992-02-24 |          2-HIGH | Clerk#000000633 |              0 |                                         use quickly regular request |
|     233956 |     14999 |             F |    219593.16 |  1994-03-28 |           5-LOW | Clerk#000000719 |              0 |                             pinto beans. regular pinto beans along  |
+------------+-----------+---------------+--------------+-------------+-----------------+-----------------+----------------+---------------------------------------------------------------------+

In [28]:
%%sql
SELECT
  o.o_orderkey,
  l.l_orderkey
FROM
  orders o
  JOIN lineitem l ON o.o_orderkey = l.l_orderkey
  AND o.o_orderdate BETWEEN l.l_shipdate - INTERVAL '5' DAY AND l.l_shipdate  + INTERVAL '5' DAY
LIMIT
  10;

+------------+------------+
| o_orderkey | l_orderkey |
+------------+------------+
|          7 |          7 |
|         32 |         32 |
|         33 |         33 |
|         69 |         69 |
|         71 |         71 |
|        132 |        132 |
|        133 |        133 |
|        198 |        198 |
|        259 |        259 |
|        260 |        260 |
+------------+------------+

In [29]:
%%sql
SELECT
  COUNT(o.o_orderkey) AS order_rows_count,
  COUNT(l.l_orderkey) AS lineitem_rows_count
FROM
  orders o
  JOIN lineitem l ON o.o_orderkey = l.l_orderkey
  AND o.o_orderdate BETWEEN l.l_shipdate - INTERVAL '5' DAY AND l.l_shipdate  + INTERVAL '5' DAY;
-- 24613, 24613

+------------------+---------------------+
| order_rows_count | lineitem_rows_count |
+------------------+---------------------+
|            24613 |               24613 |
+------------------+---------------------+

In [30]:
%%sql

SELECT
  o.o_orderkey,
  l.l_orderkey
FROM
  orders o
  LEFT JOIN lineitem l ON o.o_orderkey = l.l_orderkey
  AND o.o_orderdate BETWEEN l.l_shipdate - INTERVAL '5' DAY AND l.l_shipdate  + INTERVAL '5' DAY
LIMIT
  10;

+------------+------------+
| o_orderkey | l_orderkey |
+------------+------------+
|          1 |       None |
|          2 |       None |
|          3 |       None |
|          4 |       None |
|          5 |       None |
|          6 |       None |
|          7 |          7 |
|         32 |         32 |
|         33 |         33 |
|         34 |       None |
+------------+------------+

In [31]:
%%sql
SELECT
  COUNT(o.o_orderkey) AS order_rows_count,
  COUNT(l.l_orderkey) AS lineitem_rows_count
FROM
  orders o
  LEFT JOIN lineitem l ON o.o_orderkey = l.l_orderkey
  AND o.o_orderdate BETWEEN l.l_shipdate - INTERVAL '5' DAY AND l.l_shipdate  + INTERVAL '5' DAY;
-- 151933, 24613

+------------------+---------------------+
| order_rows_count | lineitem_rows_count |
+------------------+---------------------+
|           151933 |               24613 |
+------------------+---------------------+

In [32]:
%%sql
SELECT
  o.o_orderkey,
  l.l_orderkey
FROM
  orders o
  RIGHT JOIN lineitem l ON o.o_orderkey = l.l_orderkey
  AND o.o_orderdate BETWEEN l.l_shipdate - INTERVAL '5' DAY AND l.l_shipdate  + INTERVAL '5' DAY
LIMIT
  10;

+------------+------------+
| o_orderkey | l_orderkey |
+------------+------------+
|       None |          1 |
|       None |          1 |
|       None |          1 |
|       None |          1 |
|       None |          1 |
|       None |          1 |
|       None |          2 |
|       None |          3 |
|       None |          3 |
|       None |          3 |
+------------+------------+

In [33]:
%%sql
SELECT
  COUNT(o.o_orderkey) AS order_rows_count,
  COUNT(l.l_orderkey) AS lineitem_rows_count
FROM
  orders o
  RIGHT JOIN lineitem l ON o.o_orderkey = l.l_orderkey
  AND o.o_orderdate BETWEEN l.l_shipdate - INTERVAL '5' DAY AND l.l_shipdate  + INTERVAL '5' DAY;
-- 24613, 600572

+------------------+---------------------+
| order_rows_count | lineitem_rows_count |
+------------------+---------------------+
|            24613 |              600572 |
+------------------+---------------------+

In [34]:
%%sql
SELECT
  o.o_orderkey,
  l.l_orderkey
FROM
  orders o
  FULL OUTER JOIN lineitem l ON o.o_orderkey = l.l_orderkey
  AND o.o_orderdate BETWEEN l.l_shipdate - INTERVAL '5' DAY AND l.l_shipdate  + INTERVAL '5' DAY
LIMIT
  10

+------------+------------+
| o_orderkey | l_orderkey |
+------------+------------+
|          7 |          7 |
|       None |          7 |
|       None |          7 |
|       None |          7 |
|       None |          7 |
|       None |          7 |
|       None |          7 |
|         32 |         32 |
|       None |         32 |
|       None |         32 |
+------------+------------+

In [35]:
%%sql
SELECT
  COUNT(o.o_orderkey) AS order_rows_count,
  COUNT(l.l_orderkey) AS lineitem_rows_count
FROM
  orders o
  FULL OUTER JOIN lineitem l ON o.o_orderkey = l.l_orderkey
  AND o.o_orderdate BETWEEN l.l_shipdate - INTERVAL '5' DAY AND l.l_shipdate  + INTERVAL '5' DAY;
-- 151933, 600572

+------------------+---------------------+
| order_rows_count | lineitem_rows_count |
+------------------+---------------------+
|           151933 |              600572 |
+------------------+---------------------+

In [36]:
%%sql
SELECT
  n.n_name AS nation_c_name,
  r.r_name AS region_c_name
FROM
  nation n
  CROSS JOIN region r;

+---------------+---------------+
| nation_c_name | region_c_name |
+---------------+---------------+
|       ALGERIA |        AFRICA |
|       ALGERIA |       AMERICA |
|       ALGERIA |          ASIA |
|       ALGERIA |        EUROPE |
|       ALGERIA |   MIDDLE EAST |
|     ARGENTINA |        AFRICA |
|     ARGENTINA |       AMERICA |
|     ARGENTINA |          ASIA |
|     ARGENTINA |        EUROPE |
|     ARGENTINA |   MIDDLE EAST |
|        BRAZIL |        AFRICA |
|        BRAZIL |       AMERICA |
|        BRAZIL |          ASIA |
|        BRAZIL |        EUROPE |
|        BRAZIL |   MIDDLE EAST |
|        CANADA |        AFRICA |
|        CANADA |       AMERICA |
|        CANADA |          ASIA |
|        CANADA |        EUROPE |
|        CANADA |   MIDDLE EAST |
|         EGYPT |        AFRICA |
|         EGYPT |       AMERICA |
|         EGYPT |          ASIA |
|         EGYPT |        EUROPE |
|         EGYPT |   MIDDLE EAST |
|      ETHIOPIA |        AFRICA |
|      ETHIOPIA |       AMERICA |
|      ETHIOPIA |          ASIA |
|      ETHIOPIA |        EUROPE |
|      ETHIOPIA |   MIDDLE EAST |
|        FRANCE |        AFRICA |
|        FRANCE |       AMERICA |
|        FRANCE |          ASIA |
|        FRANCE |        EUROPE |
|        FRANCE |   MIDDLE EAST |
|       GERMANY |        AFRICA |
|       GERMANY |       AMERICA |
|       GERMANY |          ASIA |
|       GERMANY |        EUROPE |
|       GERMANY |   MIDDLE EAST |
|         INDIA |        AFRICA |
|         INDIA |       AMERICA |
|         INDIA |          ASIA |
|         INDIA |        EUROPE |
|         INDIA |   MIDDLE EAST |
|     INDONESIA |        AFRICA |
|     INDONESIA |       AMERICA |
|     INDONESIA |          ASIA |
|     INDONESIA |        EUROPE |
|     INDONESIA |   MIDDLE EAST |
|          IRAN |        AFRICA |
|          IRAN |       AMERICA |
|          IRAN |          ASIA |
|          IRAN |        EUROPE |
|          IRAN |   MIDDLE EAST |
|          IRAQ |        AFRICA |
|          IRAQ |       AMERICA |
|          IRAQ |          ASIA |
|          IRAQ |        EUROPE |
|          IRAQ |   MIDDLE EAST |
|         JAPAN |        AFRICA |
|         JAPAN |       AMERICA |
|         JAPAN |          ASIA |
|         JAPAN |        EUROPE |
|         JAPAN |   MIDDLE EAST |
|        JORDAN |        AFRICA |
|        JORDAN |       AMERICA |
|        JORDAN |          ASIA |
|        JORDAN |        EUROPE |
|        JORDAN |   MIDDLE EAST |
|         KENYA |        AFRICA |
|         KENYA |       AMERICA |
|         KENYA |          ASIA |
|         KENYA |        EUROPE |
|         KENYA |   MIDDLE EAST |
|       MOROCCO |        AFRICA |
|       MOROCCO |       AMERICA |
|       MOROCCO |          ASIA |
|       MOROCCO |        EUROPE |
|       MOROCCO |   MIDDLE EAST |
|    MOZAMBIQUE |        AFRICA |
|    MOZAMBIQUE |       AMERICA |
|    MOZAMBIQUE |          ASIA |
|    MOZAMBIQUE |        EUROPE |
|    MOZAMBIQUE |   MIDDLE EAST |
|          PERU |        AFRICA |
|          PERU |       AMERICA |
|          PERU |          ASIA |
|          PERU |        EUROPE |
|          PERU |   MIDDLE EAST |
|         CHINA |        AFRICA |
|         CHINA |       AMERICA |
|         CHINA |          ASIA |
|         CHINA |        EUROPE |
|         CHINA |   MIDDLE EAST |
|       ROMANIA |        AFRICA |
|       ROMANIA |       AMERICA |
|       ROMANIA |          ASIA |
|       ROMANIA |        EUROPE |
|       ROMANIA |   MIDDLE EAST |
+---------------+---------------+

In [37]:
%%sql    
SELECT
    o1.o_custkey as o1_custkey,
    o1.o_totalprice as o1_totalprice,
    o1.o_orderdate as o1_orderdate,
    o2.o_totalprice as o2_totalprice,
    o2.o_orderdate as o2_orderdate
FROM
    orders o1
    JOIN orders o2 ON o1.o_custkey = o2.o_custkey
    AND year(o1.o_orderdate) = year(o2.o_orderdate)
    AND weekofyear(o1.o_orderdate) = weekofyear(o2.o_orderdate)
WHERE
    o1.o_orderkey != o2.o_orderkey
LIMIT
    10;

+------------+---------------+--------------+---------------+--------------+
| o1_custkey | o1_totalprice | o1_orderdate | o2_totalprice | o2_orderdate |
+------------+---------------+--------------+---------------+--------------+
|       8177 |     307811.89 |   1996-09-20 |     123887.45 |   1996-09-22 |
|       6049 |     280793.15 |   1995-10-21 |      88561.12 |   1995-10-19 |
|      12271 |      10429.67 |   1998-03-28 |      65768.61 |   1998-03-25 |
|       2227 |      51571.37 |   1992-01-13 |      20804.50 |   1992-01-14 |
|       6874 |     148501.65 |   1997-02-23 |     254438.67 |   1997-02-22 |
|       8143 |     228500.69 |   1992-10-21 |     171242.00 |   1992-10-23 |
|       5524 |      52232.65 |   1994-02-13 |     276444.19 |   1994-02-13 |
|       6476 |      87984.15 |   1995-10-08 |     173116.65 |   1995-10-02 |
|      13462 |      83237.16 |   1997-01-12 |     216550.22 |   1997-01-12 |
|       3220 |      74571.04 |   1993-06-20 |     235954.73 |   1993-06-16 |
+------------+---------------+--------------+---------------+--------------+

In [38]:
%%sql
SELECT
  o_orderpriority,
  COUNT(*) AS num_orders
FROM
  orders
GROUP BY
  o_orderpriority;

+-----------------+------------+
| o_orderpriority | num_orders |
+-----------------+------------+
|           5-LOW |      30244 |
|        3-MEDIUM |      29563 |
|        1-URGENT |      30111 |
| 4-NOT SPECIFIED |      29910 |
|          2-HIGH |      30172 |
+-----------------+------------+

In [39]:
%%sql
SELECT
  o_orderpriority,
  COUNT(*) AS num_orders
FROM
  orders
GROUP BY
  o_orderpriority
HAVING
    COUNT(*) > 3;

+-----------------+------------+
| o_orderpriority | num_orders |
+-----------------+------------+
|           5-LOW |      30244 |
|        3-MEDIUM |      29563 |
|        1-URGENT |      30111 |
| 4-NOT SPECIFIED |      29910 |
|          2-HIGH |      30172 |
+-----------------+------------+

In [40]:
%%sql
SELECT
    o_orderkey,
    o_totalprice,
    CASE
        WHEN o_totalprice > 100000 THEN 'high'
        WHEN o_totalprice BETWEEN 25000
        AND 100000 THEN 'medium'
        ELSE 'low'
    END AS order_price_bucket
FROM
    orders;

+------------+--------------+--------------------+
| o_orderkey | o_totalprice | order_price_bucket |
+------------+--------------+--------------------+
|          1 |    194029.55 |               high |
|          2 |     60951.63 |             medium |
|          3 |    247296.05 |               high |
|          4 |     53829.87 |             medium |
|          5 |    139660.54 |               high |
|          6 |     65843.52 |             medium |
|          7 |    231037.28 |               high |
|         32 |    166802.63 |               high |
|         33 |    118518.56 |               high |
|         34 |     75662.77 |             medium |
|         35 |    192885.43 |               high |
|         36 |     72196.43 |             medium |
|         37 |    156440.15 |               high |
|         38 |     64695.26 |             medium |
|         39 |    307811.89 |               high |
|         64 |     30616.90 |             medium |
|         65 |     99763.79 |             medium |
|         66 |    100991.26 |               high |
|         67 |    167270.36 |               high |
|         68 |    305815.83 |               high |
|         69 |    228015.94 |               high |
|         70 |    133507.10 |               high |
|         71 |    244449.86 |               high |
|         96 |     72504.36 |             medium |
|         97 |    128590.11 |               high |
|         98 |     62956.90 |             medium |
|         99 |    136624.34 |               high |
|        100 |    204408.59 |               high |
|        101 |    142434.13 |               high |
|        102 |    172239.95 |               high |
|        103 |    147675.81 |               high |
|        128 |     57495.50 |             medium |
|        129 |    273469.52 |               high |
|        130 |    169065.69 |               high |
|        131 |    143898.91 |               high |
|        132 |    180897.80 |               high |
|        133 |    120535.39 |               high |
|        134 |    203218.79 |               high |
|        135 |    280793.15 |               high |
|        160 |    114252.21 |               high |
|        161 |     22632.04 |                low |
|        162 |      3658.13 |                low |
|        163 |    172394.12 |               high |
|        164 |    315228.81 |               high |
|        165 |    204566.92 |               high |
|        166 |    152280.99 |               high |
|        167 |     53697.73 |             medium |
|        192 |    151014.95 |               high |
|        193 |     60599.97 |             medium |
|        194 |    169409.25 |               high |
|        195 |    169343.52 |               high |
|        196 |     55238.37 |             medium |
|        197 |    162567.01 |               high |
|        198 |    167234.32 |               high |
|        199 |     93001.13 |             medium |
|        224 |    232428.88 |               high |
|        225 |    229717.70 |               high |
|        226 |    255602.24 |               high |
|        227 |     59478.59 |             medium |
|        228 |      3803.63 |                low |
|        229 |    217643.52 |               high |
|        230 |    176248.58 |               high |
|        231 |    212400.50 |               high |
|        256 |    185998.58 |               high |
|        257 |     10429.67 |                low |
|        258 |    244576.64 |               high |
|        259 |    102311.15 |               high |
|        260 |    242001.54 |               high |
|        261 |    271008.54 |               high |
|        262 |    134127.81 |               high |
|        263 |     99162.08 |             medium |
|        288 |    234087.71 |               high |
|        289 |    218685.70 |               high |
|        290 |     90265.69 |             medium |
|        291 |     81679.04 |             medium |
|        292 |     51571.37 |             medium |
|        293 |     62804.27 |             medium |
|        294 |     58485.82 |             medium |
|        295 |    112253.57 |               high |
|        320 |     52957.12 |             medium |
|        321 |     59593.91 |             medium |
|        322 |    161012.25 |               high |
|        323 |     99307.09 |             medium |
|        324 |     45618.44 |             medium |
|        325 |    127006.18 |               high |
|        326 |    346777.54 |               high |
|        327 |     29089.13 |             medium |
|        352 |     21304.57 |                low |
|        353 |    278475.49 |               high |
|        354 |    223943.70 |               high |
|        355 |     98378.94 |             medium |
|        356 |    250722.11 |               high |
|        357 |    129581.13 |               high |
|        358 |    306323.97 |               high |
|        359 |    202575.81 |               high |
|        384 |    161989.84 |               high |
|        385 |     65722.70 |             medium |
|        386 |    101834.97 |               high |
|        387 |    188762.47 |               high |
|        388 |    173814.86 |               high |
+------------+--------------+--------------------+

In [41]:
%%sql
SELECT c_custkey, c_name FROM customer WHERE c_name LIKE '%_91%' -- 25 rows

+-----------+--------------------+
| c_custkey |             c_name |
+-----------+--------------------+
|        91 | Customer#000000091 |
|       191 | Customer#000000191 |
|       291 | Customer#000000291 |
|       391 | Customer#000000391 |
|       491 | Customer#000000491 |
|       591 | Customer#000000591 |
|       691 | Customer#000000691 |
|       791 | Customer#000000791 |
|       891 | Customer#000000891 |
|       910 | Customer#000000910 |
|       911 | Customer#000000911 |
|       912 | Customer#000000912 |
|       913 | Customer#000000913 |
|       914 | Customer#000000914 |
|       915 | Customer#000000915 |
|       916 | Customer#000000916 |
|       917 | Customer#000000917 |
|       918 | Customer#000000918 |
|       919 | Customer#000000919 |
|       991 | Customer#000000991 |
|      1091 | Customer#000001091 |
|      1191 | Customer#000001191 |
|      1291 | Customer#000001291 |
|      1391 | Customer#000001391 |
|      1491 | Customer#000001491 |
|      1591 | Customer#000001591 |
|      1691 | Customer#000001691 |
|      1791 | Customer#000001791 |
|      1891 | Customer#000001891 |
|      1910 | Customer#000001910 |
|      1911 | Customer#000001911 |
|      1912 | Customer#000001912 |
|      1913 | Customer#000001913 |
|      1914 | Customer#000001914 |
|      1915 | Customer#000001915 |
|      1916 | Customer#000001916 |
|      1917 | Customer#000001917 |
|      1918 | Customer#000001918 |
|      1919 | Customer#000001919 |
|      1991 | Customer#000001991 |
|      2091 | Customer#000002091 |
|      2191 | Customer#000002191 |
|      2291 | Customer#000002291 |
|      2391 | Customer#000002391 |
|      2491 | Customer#000002491 |
|      2591 | Customer#000002591 |
|      2691 | Customer#000002691 |
|      2791 | Customer#000002791 |
|      2891 | Customer#000002891 |
|      2910 | Customer#000002910 |
|      2911 | Customer#000002911 |
|      2912 | Customer#000002912 |
|      2913 | Customer#000002913 |
|      2914 | Customer#000002914 |
|      2915 | Customer#000002915 |
|      2916 | Customer#000002916 |
|      2917 | Customer#000002917 |
|      2918 | Customer#000002918 |
|      2919 | Customer#000002919 |
|      2991 | Customer#000002991 |
|      3091 | Customer#000003091 |
|      3191 | Customer#000003191 |
|      3291 | Customer#000003291 |
|      3391 | Customer#000003391 |
|      3491 | Customer#000003491 |
|      3591 | Customer#000003591 |
|      3691 | Customer#000003691 |
|      3791 | Customer#000003791 |
|      3891 | Customer#000003891 |
|      3910 | Customer#000003910 |
|      3911 | Customer#000003911 |
|      3912 | Customer#000003912 |
|      3913 | Customer#000003913 |
|      3914 | Customer#000003914 |
|      3915 | Customer#000003915 |
|      3916 | Customer#000003916 |
|      3917 | Customer#000003917 |
|      3918 | Customer#000003918 |
|      3919 | Customer#000003919 |
|      3991 | Customer#000003991 |
|      4091 | Customer#000004091 |
|      4191 | Customer#000004191 |
|      4291 | Customer#000004291 |
|      4391 | Customer#000004391 |
|      4491 | Customer#000004491 |
|      4591 | Customer#000004591 |
|      4691 | Customer#000004691 |
|      4791 | Customer#000004791 |
|      4891 | Customer#000004891 |
|      4910 | Customer#000004910 |
|      4911 | Customer#000004911 |
|      4912 | Customer#000004912 |
|      4913 | Customer#000004913 |
|      4914 | Customer#000004914 |
|      4915 | Customer#000004915 |
|      4916 | Customer#000004916 |
|      4917 | Customer#000004917 |
|      4918 | Customer#000004918 |
|      4919 | Customer#000004919 |
|      4991 | Customer#000004991 |
+-----------+--------------------+

In [42]:
%%sql
-- UNION will remove duplicate rows; the below query will produce 25 rows
SELECT c_custkey, c_name FROM customer WHERE c_name LIKE '%_91%'
UNION
SELECT c_custkey, c_name FROM customer WHERE c_name LIKE '%_91%'
UNION
SELECT c_custkey, c_name FROM customer WHERE c_name LIKE '%_91'
LIMIT 10;

+-----------+--------------------+
| c_custkey |             c_name |
+-----------+--------------------+
|      8991 | Customer#000008991 |
|      2916 | Customer#000002916 |
|      7911 | Customer#000007911 |
|      9140 | Customer#000009140 |
|      3291 | Customer#000003291 |
|      5914 | Customer#000005914 |
|      9160 | Customer#000009160 |
|     14991 | Customer#000014991 |
|      9103 | Customer#000009103 |
|     11191 | Customer#000011191 |
+-----------+--------------------+

In [43]:
%%sql
-- UNION ALL will not remove duplicate rows; the below query will produce 75 rows
SELECT c_custkey, c_name FROM customer WHERE c_name LIKE '%_91%'
UNION ALL
SELECT c_custkey, c_name FROM customer WHERE c_name LIKE '%_91%'
UNION ALL
SELECT c_custkey, c_name FROM customer WHERE c_name LIKE '%_91%'
LIMIT 10;

+-----------+--------------------+
| c_custkey |             c_name |
+-----------+--------------------+
|        91 | Customer#000000091 |
|       191 | Customer#000000191 |
|       291 | Customer#000000291 |
|       391 | Customer#000000391 |
|       491 | Customer#000000491 |
|       591 | Customer#000000591 |
|       691 | Customer#000000691 |
|       791 | Customer#000000791 |
|       891 | Customer#000000891 |
|       910 | Customer#000000910 |
+-----------+--------------------+

In [44]:
%%sql
-- EXCEPT will get the rows in the first query result that is not in the second query result, 0 rows
SELECT c_custkey, c_name FROM customer WHERE c_name LIKE '%_91%'
EXCEPT
SELECT c_custkey, c_name FROM customer WHERE c_name LIKE '%_91%'
LIMIT 10;

+-----------+--------+
| c_custkey | c_name |
+-----------+--------+
+-----------+--------+

In [45]:
%%sql
-- The below query will result in 23 rows; the first query has 25 rows, and the second has two rows
SELECT c_custkey, c_name FROM customer WHERE c_name LIKE'%_91%'
EXCEPT
SELECT c_custkey, c_name FROM customer WHERE c_name LIKE '%191%'
LIMIT 10;

+-----------+--------------------+
| c_custkey |             c_name |
+-----------+--------------------+
|      8991 | Customer#000008991 |
|      2916 | Customer#000002916 |
|      7911 | Customer#000007911 |
|      9140 | Customer#000009140 |
|      3291 | Customer#000003291 |
|      5914 | Customer#000005914 |
|      9160 | Customer#000009160 |
|     14991 | Customer#000014991 |
|      9103 | Customer#000009103 |
|     11991 | Customer#000011991 |
+-----------+--------------------+

In [46]:
%%sql
SELECT
  n.n_name AS nation_c_name,
  s.quantity AS supplied_items_quantity,
  c.quantity AS purchased_items_quantity
FROM
  nation n
  LEFT JOIN (
    SELECT
      n.n_nationkey,
      SUM(l.l_quantity) AS quantity
    FROM
      lineitem l
      JOIN supplier s ON l.l_suppkey = s.s_suppkey
      JOIN nation n ON s.s_nationkey = n.n_nationkey
    GROUP BY
      n.n_nationkey
  ) s ON n.n_nationkey = s.n_nationkey
  LEFT JOIN (
    SELECT
      n.n_nationkey,
      SUM(l.l_quantity) AS quantity
    FROM
      lineitem l
      JOIN orders o ON l.l_orderkey = o.o_orderkey
      JOIN customer c ON o.o_custkey = c.c_custkey
      JOIN nation n ON c.c_nationkey = n.n_nationkey
    GROUP BY
      n.n_nationkey
  ) c ON n.n_nationkey = c.n_nationkey;

+----------------+-------------------------+--------------------------+
|  nation_c_name | supplied_items_quantity | purchased_items_quantity |
+----------------+-------------------------+--------------------------+
|          JAPAN |               632809.00 |                594514.00 |
|         RUSSIA |               719815.00 |                607446.00 |
|      ARGENTINA |               583989.00 |                609330.00 |
|         JORDAN |               435841.00 |                609850.00 |
|         FRANCE |               534549.00 |                585564.00 |
|     MOZAMBIQUE |               523591.00 |                613443.00 |
|         CANADA |               569306.00 |                631774.00 |
|   SAUDI ARABIA |               720977.00 |                569819.00 |
|       ETHIOPIA |               506759.00 |                647056.00 |
|        ROMANIA |               506500.00 |                628528.00 |
|        MOROCCO |               624830.00 |                641135.00 |
|      INDONESIA |               686980.00 |                659643.00 |
|           PERU |               613397.00 |                568721.00 |
|          EGYPT |               610765.00 |                627841.00 |
|          INDIA |               719461.00 |                584063.00 |
| UNITED KINGDOM |               596263.00 |                606910.00 |
|        GERMANY |               765812.00 |                619356.00 |
|           IRAN |               609180.00 |                678349.00 |
|  UNITED STATES |               551367.00 |                603133.00 |
|        VIETNAM |               596045.00 |                607776.00 |
|           IRAQ |               654510.00 |                625030.00 |
|          KENYA |               545734.00 |                562545.00 |
|         BRAZIL |               664553.00 |                618707.00 |
|        ALGERIA |               558454.00 |                600846.00 |
|          CHINA |               803315.00 |                633423.00 |
+----------------+-------------------------+--------------------------+

In [47]:
%%sql
SELECT
    o.o_orderkey,
    o.o_orderdate,
    COALESCE(l.l_orderkey, 9999999) AS lineitem_orderkey,
    l.l_shipdate
FROM
    orders o
    LEFT JOIN lineitem l ON o.o_orderkey = l.l_orderkey
    AND o.o_orderdate BETWEEN l.l_shipdate - INTERVAL '5' DAY
    AND l.l_shipdate + INTERVAL '5' DAY
LIMIT
    10;

+------------+-------------+-------------------+------------+
| o_orderkey | o_orderdate | lineitem_orderkey | l_shipdate |
+------------+-------------+-------------------+------------+
|          1 |  1996-01-02 |           9999999 |       None |
|          2 |  1996-12-01 |           9999999 |       None |
|          3 |  1993-10-14 |           9999999 |       None |
|          4 |  1995-10-11 |           9999999 |       None |
|          5 |  1994-07-30 |           9999999 |       None |
|          6 |  1992-02-21 |           9999999 |       None |
|          7 |  1996-01-10 |                 7 | 1996-01-15 |
|         32 |  1995-07-16 |                32 | 1995-07-21 |
|         33 |  1993-10-27 |                33 | 1993-10-29 |
|         34 |  1998-07-21 |           9999999 |       None |
+------------+-------------+-------------------+------------+

In [48]:
%%sql
DROP VIEW IF EXISTS nation_supplied_purchased_quantity

++
||
++
++

In [49]:
%%sql
CREATE VIEW nation_supplied_purchased_quantity AS
SELECT
    n.n_name AS nation_name,
    s.quantity AS supplied_items_quantity,
    c.quantity AS purchased_items_quantity
FROM
    nation n
    LEFT JOIN (
        SELECT
            n_nationkey as nationkey,
            sum(l_quantity) AS quantity
        FROM
            lineitem l
            JOIN supplier s ON l.l_suppkey = s.s_suppkey
            JOIN nation n ON s.s_nationkey = n.n_nationkey
        GROUP BY
            n.n_nationkey
    ) s ON n.n_nationkey = s.nationkey
    LEFT JOIN (
        SELECT
            n_nationkey as nationkey,
            sum(l_quantity) AS quantity
        FROM
            lineitem l
            JOIN orders o ON l.l_orderkey = o.o_orderkey
            JOIN customer c ON o.o_custkey = c.c_custkey
            JOIN nation n ON c.c_nationkey = n.n_nationkey
        GROUP BY
            n.n_nationkey
    ) c ON n.n_nationkey = c.nationkey;

++
||
++
++

In [50]:
%%sql
SELECT
    *
FROM
    nation_supplied_purchased_quantity;

+----------------+-------------------------+--------------------------+
|    nation_name | supplied_items_quantity | purchased_items_quantity |
+----------------+-------------------------+--------------------------+
|          JAPAN |               632809.00 |                594514.00 |
|         RUSSIA |               719815.00 |                607446.00 |
|      ARGENTINA |               583989.00 |                609330.00 |
|         JORDAN |               435841.00 |                609850.00 |
|         FRANCE |               534549.00 |                585564.00 |
|     MOZAMBIQUE |               523591.00 |                613443.00 |
|         CANADA |               569306.00 |                631774.00 |
|   SAUDI ARABIA |               720977.00 |                569819.00 |
|       ETHIOPIA |               506759.00 |                647056.00 |
|        ROMANIA |               506500.00 |                628528.00 |
|        MOROCCO |               624830.00 |                641135.00 |
|      INDONESIA |               686980.00 |                659643.00 |
|           PERU |               613397.00 |                568721.00 |
|          EGYPT |               610765.00 |                627841.00 |
|          INDIA |               719461.00 |                584063.00 |
| UNITED KINGDOM |               596263.00 |                606910.00 |
|        GERMANY |               765812.00 |                619356.00 |
|           IRAN |               609180.00 |                678349.00 |
|  UNITED STATES |               551367.00 |                603133.00 |
|        VIETNAM |               596045.00 |                607776.00 |
|           IRAQ |               654510.00 |                625030.00 |
|          KENYA |               545734.00 |                562545.00 |
|         BRAZIL |               664553.00 |                618707.00 |
|        ALGERIA |               558454.00 |                600846.00 |
|          CHINA |               803315.00 |                633423.00 |
+----------------+-------------------------+--------------------------+

In [51]:
# Problem 1:
# Write a query that shows the number of items returned for each region name

In [52]:
%%sql
SELECT
l_returnflag
FROM
lineitem
GROUP BY
l_returnflag

+--------------+
| l_returnflag |
+--------------+
|            A |
|            N |
|            R |
+--------------+

In [53]:
%%sql
SELECT 
    r_name as region_name,
    COUNT(*) as items_returned
FROM
    lineitem l
    INNER JOIN orders o ON l_orderkey = o_orderkey
    INNER JOIN customer c ON o_orderkey = c_custkey
    INNER JOIN nation n ON c_nationkey = n_nationkey
    INNER JOIN region r ON n_regionkey = r_regionkey
WHERE
    l_returnflag = "R"
GROUP BY
    r_name

+-------------+----------------+
| region_name | items_returned |
+-------------+----------------+
|        ASIA |            695 |
|      EUROPE |            720 |
|     AMERICA |            779 |
|      AFRICA |            744 |
| MIDDLE EAST |            706 |
+-------------+----------------+

In [54]:
# Problem 2:
# List the top 10 most selling parts (part name)

In [55]:
%%sql
SELECT
*
FROM
part
LIMIT
10

+-----------+------------------------------------------+----------------+----------+-------------------------+--------+-------------+---------------+----------------------+
| p_partkey |                                   p_name |         p_mfgr |  p_brand |                  p_type | p_size | p_container | p_retailprice |            p_comment |
+-----------+------------------------------------------+----------------+----------+-------------------------+--------+-------------+---------------+----------------------+
|         1 | goldenrod lavender spring chocolate lace | Manufacturer#1 | Brand#13 |  PROMO BURNISHED COPPER |      7 |   JUMBO PKG |        901.00 |      ironic pinto be |
|         2 |         blush thistle blue yellow saddle | Manufacturer#1 | Brand#13 |     LARGE BRUSHED BRASS |      1 |     LG CASE |        902.00 |     nding, even pack |
|         3 |      spring green yellow purple cornsilk | Manufacturer#4 | Brand#42 | STANDARD POLISHED BRASS |     21 |   WRAP CASE |        903.00 |  ages. blithely fina |
|         4 |    cornflower chocolate smoke green pink | Manufacturer#3 | Brand#34 |      SMALL PLATED BRASS |     14 |    MED DRUM |        904.00 |        ckages. regul |
|         5 |            forest brown coral puff cream | Manufacturer#3 | Brand#32 |   STANDARD POLISHED TIN |     15 |      SM PKG |        905.00 |     pinto beans are  |
|         6 |    bisque cornflower lawn forest magenta | Manufacturer#2 | Brand#24 |      PROMO PLATED STEEL |      4 |     MED BAG |        906.00 |               kages  |
|         7 |      moccasin green thistle khaki floral | Manufacturer#1 | Brand#11 |     SMALL PLATED COPPER |     45 |      SM BAG |        907.00 |             gular pi |
|         8 |            misty lace thistle snow royal | Manufacturer#4 | Brand#44 |     PROMO BURNISHED TIN |     41 |     LG DRUM |        908.00 |                beans |
|         9 |        thistle dim navajo dark gainsboro | Manufacturer#4 | Brand#43 |   SMALL BURNISHED STEEL |     12 |   WRAP CASE |        909.00 |          ole furious |
|        10 |            linen pink saddle puff powder | Manufacturer#5 | Brand#54 |   LARGE BURNISHED STEEL |     44 |      LG CAN |        910.01 | into beans about the |
+-----------+------------------------------------------+----------------+----------+-------------------------+--------+-------------+---------------+----------------------+

In [56]:
%%sql
SELECT
    p_name as part_name,
    SUM(l_quantity) as parts_sold
FROM
    lineitem l
    INNER JOIN part p ON l_partkey = p_partkey
GROUP BY
    p_name
ORDER BY
    parts_sold desc
LIMIT
10

+---------------------------------------+------------+
|                             part_name | parts_sold |
+---------------------------------------+------------+
|        snow blanched blush linen blue |    1484.00 |
|     moccasin brown puff thistle steel |    1465.00 |
|   floral azure papaya moccasin indian |    1427.00 |
| blanched white ghost frosted metallic |    1420.00 |
|        hot blue honeydew salmon slate |    1413.00 |
|       lavender green brown linen dark |    1412.00 |
|   frosted chocolate spring peach lawn |    1398.00 |
|  hot blanched magenta yellow metallic |    1389.00 |
|         orange white medium plum drab |    1385.00 |
|             brown hot olive tan black |    1382.00 |
+---------------------------------------+------------+

In [57]:
# Problem 3:
# Sellers (name) who have sold at least one of the top 10 selling parts

In [58]:
%%sql
SELECT DISTINCT
    s.s_name as supplier_name,
    t.parts_sold
FROM
    lineitem l
    INNER JOIN supplier s ON l.l_suppkey = s.s_suppkey
    INNER JOIN (
        SELECT
            p_partkey,        
            p_name,
            SUM(l_quantity) as parts_sold
        FROM
            lineitem l
            INNER JOIN part p ON l.l_partkey = p.p_partkey
        GROUP BY
            p_partkey,
            p_name
        ) t on l.l_partkey = t.p_partkey
ORDER BY
    t.parts_sold desc
LIMIT
10

+--------------------+------------+
|      supplier_name | parts_sold |
+--------------------+------------+
| Supplier#000000215 |    1484.00 |
| Supplier#000000681 |    1484.00 |
| Supplier#000000414 |    1484.00 |
| Supplier#000000948 |    1484.00 |
| Supplier#000000881 |    1465.00 |
| Supplier#000000150 |    1465.00 |
| Supplier#000000419 |    1465.00 |
| Supplier#000000612 |    1465.00 |
| Supplier#000000141 |    1427.00 |
| Supplier#000000401 |    1427.00 |
+--------------------+------------+

In [59]:
# Problem 4:
# Number of items returned for each order price bucket. The definition of order price bucket is shown below.
# CASE
    # WHEN o_totalprice > 100000 THEN 'high'
    # WHEN o_totalprice BETWEEN 25000 AND 100000 THEN 'medium'
    # ELSE 'low'
# END AS order_price_bucket

In [75]:
%%sql
SELECT
    CASE
        WHEN o_totalprice > 100000 THEN 'high'
        WHEN o_totalprice BETWEEN 25000 AND 100000 THEN 'medium'
        ELSE 'low'
    END AS order_price_bucket,
    COUNT(*) AS items_returned
FROM
    lineitem l
    INNER JOIN orders o ON l_orderkey = o_orderkey
WHERE
    l_returnflag = 'R'
GROUP BY
    CASE
        WHEN o_totalprice > 100000 THEN 'high'
        WHEN o_totalprice BETWEEN 25000 AND 100000 THEN 'medium'
        ELSE 'low'
    END 
ORDER BY
    items_returned DESC;

+--------------------+----------------+
| order_price_bucket | items_returned |
+--------------------+----------------+
|               high |         121779 |
|             medium |          23777 |
|                low |           2745 |
+--------------------+----------------+